@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap");
.home-row {
  font-size: clamp(18px, 1.777vw, 32px);
  flex-wrap: wrap;
  row-gap: 15px;
}
.home-row__logo {
  font-weight: 800;
}
.home-row__num {
  font-weight: 700;
}

header, footer {
  background: #fff;
}
header .content, footer .content {
  padding-bottom: 20px;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__wrapper {
  position: relative;
  width: 100%;
  background: #FBFBFB;
  background-image: url(../img/backg.png);
  max-height: 100vh;
  max-width: 1920px;
  box-sizing: border-box;
  padding-block: 50px;
  overflow: auto;
}
.modal__close {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
}
.modal__post-form {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.suit-content {
  row-gap: 15px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-inline: 15px;
  box-sizing: border-box;
}
@media screen and (min-width: 960px) {
  .suit-content {
    padding-right: 9%;
  }
}
@media screen and (max-width: 767px) {
  .suit-content {
    flex-wrap: wrap;
  }
}
.suit-content__imgs {
  flex-shrink: 0;
  width: 46.7%;
}
@media screen and (max-width: 767px) {
  .suit-content__imgs {
    flex-wrap: wrap-reverse;
    row-gap: 15px;
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .suit-content__imgs {
    width: 100%;
  }
}
.suit-content__imgs img {
  width: 100%;
}
.suit-content__big-img {
  overflow: hidden;
  border-radius: 10px 10px 10px 0;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.04);
  background: #fff;
  aspect-ratio: 93/104;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .suit-content__big-img {
    width: 82.7%;
  }
}
.suit-content__min-imgs {
  display: flex;
  align-items: center;
  align-content: start;
  gap: 15px 20px;
}
@media screen and (min-width: 768px) {
  .suit-content__min-imgs {
    flex-wrap: wrap;
    width: 11%;
  }
}
.suit-content .min-imgs__item {
  cursor: pointer;
  min-width: 30px;
}
@media screen and (max-width: 600px) {
  .suit-content .min-imgs__item {
    min-width: 15px;
  }
}
.suit-content__text {
  min-width: 300px;
  width: 40.2%;
}
@media screen and (max-width: 600px) {
  .suit-content__text {
    width: 100%;
  }
}
.suit-content__title {
  font-weight: 700;
}
.suit-content__price {
  color: #FFCA33;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: max(12px, 5%);
}
@media screen and (max-width: 767px) {
  .suit-content__price {
    font-size: 24px;
  }
}
.suit-content p {
  margin-block: 12px max(12px, 5%);
}

.block-form, .modal__post-form {
  margin: auto;
  width: 600px;
  box-sizing: border-box;
  padding: 45px 32px;
  background: #FFF;
  border-radius: 30px;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.04);
}
@media screen and (max-width: 767px) {
  .block-form, .modal__post-form {
    width: 300px;
  }
}
.block-form *, .modal__post-form * {
  width: 100%;
}
.block-form__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.block-form p, .modal__post-form p {
  text-align: center;
  margin-block: 16px 32px;
}
.block-form form > *, .modal__post-form form > * {
  margin-top: 16px;
}
.block-form__input {
  font-size: 14px;
  display: block;
  border-radius: 3px;
  border: 1px solid #E5E5E5;
  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  padding: 6px 16px;
}
.block-form__input::-moz-placeholder {
  color: rgba(4, 26, 63, 0.6);
}
.block-form__input::placeholder {
  color: rgba(4, 26, 63, 0.6);
}
@media screen and (max-width: 767px) {
  .block-form__select {
    padding-inline: 8px;
  }
}
.block-form__select [disabled] {
  display: none;
}

.block-phone {
  position: relative;
}
.block-phone__placeholder {
  font-size: 14px;
  position: absolute;
  top: 1px;
  left: 0;
  padding: 6px 16px;
  z-index: 1;
  opacity: 0.4;
}
.block-phone__input {
  position: relative;
  z-index: 2;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates";
  color: #041A3F;
}

body > *:not(.modal) {
  padding-inline: 20px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  body > *:not(.modal) {
    padding-inline: 15px;
  }
}

.content {
  max-width: 1204px;
  padding-block: 20px 64px;
  margin-inline: auto;
}

a {
  text-decoration: none;
}

.home-row, .suit-content, .suit-content__imgs {
  display: flex;
  justify-content: space-between;
}

.lith-text {
  color: #FFCA33;
  font-size: inherit;
  font-weight: inherit;
}

h1 {
  font-size: clamp(26px, 4.4vw, 52px);
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  h1 {
    font-size: 42px;
  }
}

.btn {
  background: #FFCA33;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 18px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.img img {
  width: 100%;
}

main {
  background: #EFF5FF;
  background-image: url(../img/backg.png);
}/*# sourceMappingURL=style.css.map */