.modal{
   position: fixed;
   inset: 0;
   background: rgba(0, 0, 0, 0.4);
   z-index: 8;
   display: flex;
   align-items: center;
   justify-content: center;
   &__wrapper{
      position: relative;
      width: 100%;
      background:  #FBFBFB;
      background-image: url(../img/backg.png);
      max-height: 100vh;
      max-width: 1920px;
      box-sizing: border-box;
      padding-block: 50px;
      overflow: auto;
   }
   &__close{
      cursor: pointer;
      position: absolute;
      top: 24px;
      right: 24px;
   }
   &__post-form{
      @extend .block-form;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 24px;
      text-align: center;
   }
}
.suit-content{
   @extend %flexSB;
   row-gap: 15px;
   column-gap: 20px;
   padding-inline: 15px;
   box-sizing: border-box;
   @include desktop {
      padding-right: 9%;
   }
   @include mob {
      flex-wrap: wrap;
   }
   &__imgs{
      @extend %flexSB;
      flex-shrink: 0;
      width: 46.7%;
      @include mob {
         flex-wrap: wrap-reverse;
         row-gap: 15px;
         max-width: 100%;
      }
      @include min-mob {
         width: 100%;
      }
      img{
         width: 100%;
      }
   }
   &__big-img{
      overflow: hidden;
      border-radius: 10px 10px 10px 0;
      box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.04);
      background: #fff;
      aspect-ratio: 93/104;
      display: flex;
      justify-content: center;
      align-items: center;
      @include t-u {
         width: 82.7%;
      }
   }
   &__min-imgs{
      display: flex;
      align-items: center;
      align-content: start;
      gap: 15px 20px;
      @include t-u {
         flex-wrap: wrap;
         width: 11%;
      }
   }
   .min-imgs__item{
      cursor: pointer;
      min-width: 30px;
      @include min-mob {
         min-width: 15px;
      }
   }
   &__text{
      min-width: 300px;
      width: 40.2%;
      @include min-mob {
         width: 100%;
      }
   }

   &__title{
      font-weight: 700;
   }
   &__price{
      color: $lith;
      font-weight: 700;
      font-size: 32px;
      margin-bottom: max(12px, 5%);
      @include mob {
         font-size: 24px;
      }
   }
   p{
      margin-block: 12px max(12px, 5%);
   }
}
.block-form{
   margin: auto;
   width: 600px;
   box-sizing: border-box;
   padding: 45px 32px;
   background: #FFF;
   border-radius: 30px;
   box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.04);
   
   @include mob {
      width: 300px;
   }
   *{
      width: 100%;
   }
   &__title{
      font-size: 24px;
      font-weight: 700;
      text-align: center;
   }
   p{
      text-align: center;
      margin-block: 16px 32px;
   }
   form>*{
      margin-top: 16px;
   }
   &__input{
      font-size: 14px;
      display: block;
      border-radius: 3px;
      border: 1px solid #E5E5E5;
      background: rgba(0, 0, 0, 0);
      box-sizing: border-box;
      padding: 6px 16px;
      &::placeholder{
         color: transparentize($color: $darck, $amount: 0.4);
      }
   }
   &__select{
      @include mob {
         padding-inline: 8px;
      }
      [disabled]{
         display: none;
      }
   }
}
.check-block{
   @extend %flexSB;
   column-gap: 10px;
   &__input{
      width: auto;
   }
}

.block-phone{
   position: relative;
   &__placeholder{
      font-size: 14px;
      position: absolute;
      top: 1px;
      left: 0;
      padding: 6px 16px;
      z-index: 1;
      opacity: 0.4;
   }
   &__input{
      position: relative;
      z-index: 2;
   }
}