@import "_vars.scss";
@import "_medias.scss";

.header {
   @include backg-blue;
   *{
      position: relative;
      z-index: 2;
   }
   &__backg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -150px;
      right: -298px;
      background: #FAFAFA;
      z-index: 1;
      @include desktop {
         border-bottom-left-radius: 300px;
      }
   }
   &__content {
      margin-top: 50px;
      @include desktop {
         display: flex;
         flex-direction: row-reverse;
         justify-content: space-between;
         align-items: center;
      }
      @include mob-and-t {
         text-align: center;
      }
   }  
   h1{
      margin-bottom: 32px;
      @include desktop {
         margin-bottom: 48px;
      }
   }
   &__img {
      flex-shrink: 0;
      width: 47.3%;
      @include mob-and-t {
         margin-inline: auto;
      }
      @include mob {
         width: 65%;
      }
   }
}
main{
   padding-block: 64px;
}
h2{
   text-align: center;
   font-size: clamp(22px, 3.75vw, 42px);
}
.saits{
   margin-block: 32px 60px;
   display: flex;
   row-gap: 16px;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 20px;
   cursor: pointer;
}
.sait{
   min-width: 286px;
   border-radius: 20px;
   background: #fff;
   &__img{
      width: 100%;
   }
   &__text{
      background: #FAFAFA;
      text-align: center;
      padding: 32px 16px;
      *:not(.btn){
         margin-bottom: 15px;
      }
   }
   &__title{
      font-size: 24px;
      font-weight: 700;
   }
   &__sizes{}
   &__price{
      font-size: 18px;
      font-weight: 700;
   }
}